<p><%= image_tag 'sample-author1.jpg' %></p>
<p>Title：<%= @book.title %></p>
<p>Opinion：<%= @book.body %></p>
  <p><%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>